version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 0
    labels:
      - "ci"
      - "dependencies"
    commit-message:
      prefix: "ci(deps):"
